@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Rubik+Mono+One');



.text {
  position: fixed;
  /* top: 4%; */
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  list-style: none;
  border-bottom: 0;
}

.text.hidden {
  border-bottom: 1px solid white;
}

.text li {
  display: inline-block;
  float: left;
  font-weight: 700;
  font-size: 1.5em;
  color: white;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  max-width: 1.5em;
  font-family: 'Roboto Mono', monospace;   
}
.text.hidden li.spaced {
  padding-left: 0;
}
.text li.spaced {
  padding-left: 0.1em;
}

.text.hidden li.ghost {
  opacity: 0;
  max-width: 0;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .text li {
        font-size: 1em;
        max-width: 1em;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .text li {
    font-size: 1em;
    max-width: 1em;
  }

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .text li {
    font-size: 1em;
    max-width: 1em;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .text li {
    font-size: 1.5em;
    max-width: 1em;
  }
} 

